MODEL_NAME=model_name
FTUNNING_MODEL_NAME=ft_model_name
LEARNING_RATE=0.0

DATASE_NAME=dataset_name
DATASE_COLUMNS=columnA, columnB
MAX_TRAIN_SAMPLES=1
IMAGE_REISZE_METHOD=crop_method
IMAGE_RESOLUTION=1

TRAIN_EPOCHS=1
TRAIN_BATCH_SIZE=1

HGGF_USERNAME=username
HGGF_TOKEN=token